!!! 5
%head
  %title title
%body
  %br
  %img{src: "http://placekitten.com/200/200", style: "margin: auto; display: block"}
  %br
  %button{style: 'float:left; margin-left: 40%'}
    move to RH Doc
  %button{style: 'float:left'}
    keep in RH finance
