!!! 5
%head
  %title title
%body{style: "background-image: url('domo_kun_and_tree_blossoms-wallpaper-1920x1080.jpg')"}
  %br
  - case @type
  - when '.pdf'
    %embed{src: @full_path, width: "480", height: "640", type: 'application/pdf', style: "margin: auto; display: block"}
  - when '.png'
    %img{src:   @full_path,   width: '480', height: '640', style: "margin: auto; display: block"}
  - when '.jpg'
    %img{src:  @full_path,   width: '480', height: '640', style: "margin: auto; display: block"}

  %br.clear
  .offset-lg-5.center.text-center{style: 'margin: auto; text-align:center; width: 100%;'}
    %form{ action: 'categorize', method: "POST"}
      %input{type: :hidden, name: :path, value: @full_path}
      %input{type: :hidden, name: :type, value: @type}
      %input{type: :hidden, name: :size, value: @size}
      %input{type: :hidden, name: :fingerprint, value: 'fingerprint'}
      %input{type: :submit, value: 'shared' }
      %input{type: :submit, value: 'financed' }
