!!! 5
%head
  %title #{@image.name}
  %link{ rel: 'stylesheet', href: 'stylesheets/bootstrap.css'}
  %link{ rel: 'stylesheet', href: 'stylesheets/font-awesome.min.css' }
  %script{src: "/js/jquery-3.1.1.min.js"}
  %script{src: "/js/jquery.raptorize.1.0.js"}
  %script{src: "/js/bootstrap.min.js"}
%body{style: "background-image: url('domo_kun_and_tree_blossoms-wallpaper-1920x1080.jpg'); background-size: 100% 100% ; background-repeat:no-repeat; min-height: 70em"}
  %nav.navbar.navbar-dark
    %a.navbar-brand{href: '/'}
      Kitten Clicker
    %ul.nav.navbar-nav
      %li.nav-item.active
        %a.nav-link{href: '#'}
          Home
      %li.nav-item.active
        %a.nav-link{href: '#'}
          Login
  .container-fluid
    .row
      - case @image.ext
      - when '.pdf'
        %embed.source-file.col-lg-6.col-xl-6{src: @full_path, type: 'application/pdf', style: "min-height: 40em; float: left; padding: 0px 0px"}
      - when '.png'
        %img.source-file.col-lg-6.col-xl-6{src:   @full_path, style: "height: 40em"}
      - when '.jpg'
        %img.source-file.col-lg-6.col-xl-6{src:  @full_path, style: "height: 40em"}

      .col-sm-6.col-md-6.col-xlg-6.offset-md-0.offset-lg-0.offset-xl-0{style: 'background: rgba(256, 256, 256, .6); padding: 2em ;min-height: 40em'}
        %h2{style: 'float: left'}
          Opportunity: #{@image.opportunity.meta[:name]}
        %form{ action: 'categorize', method: "POST"}
          %input{type: :hidden, name: :path, value: @full_path}
          %input{type: :hidden, name: :type, value: @type}
          %input{type: :hidden, name: :size, value: @size}
          %input{type: :hidden, name: :fingerprint, value: 'fingerprint'}
        .actions{style: 'float: right'}
          %button.btn-warning
            %a{href: "http://na34.salesforce.com/#{@opportunity.id}", target: '_blank', style: 'color: white'}
              Go to Opportunity
          %button.btn-success#kittyButton
            Kitty

        =partial(:opportunity, locals: {opportunity: @opportunity})


    %br
    %h4.col-lg-6{style: 'color: white'} Cases
    %br
    .row
      .clearfix
      - @cases.each_with_index do |sf_case, i|
        .card.col-xl-3{style: 'background: rgba(256, 256, 256, .8); max-height: 25em, overflow: scroll'}
          .card-block
            =partial(:case, locals: {sf_case: sf_case, index: i})
  :javascript
    $(document).ready(function() {
      $('#kittyButton').raptorize();
      $('.nav-item.opp a').click(function(e) {
        e.preventDefault()
        $('.nav-pane.opportunity').hide()
        $('.nav-pane'+ $(this).attr('href')).show()
      })
      $('.nav-item.case a').click(function(e) {
        e.preventDefault()
        id = $(this).attr('href')
        $('.nav-pane.case' + id.substr(1,-1) ).hide()
        $('.nav-pane' + id).show()
      })
      $('.btn').hover(
        function(){ $('.source-file').addClass('glow') },
        function(){ $('.source-file').removeClass('glow') }
      );
    });
    
