.col-sm-12.col-md-12.col-xlg-12.offset-md-12.offset-lg-12.offset-xl-12{style: 'background: rgba(256, 256, 256, .6); padding: 2em; min-height: 80%; offset: scroll'}
  %ul.nav.nav-tabs#mainTabs{role: 'tablist'}
    %li.nav-item.opp
      %a.nav-link.active{href: '#fileDetails', role:'tab', 'data-toggle': 'tab', 'data-target': '#fileDetails'}
        Actions
    %li.nav-item.opp
      %a.nav-link{href: '#boxFolders', role:'tab', 'data-toggle': 'tab', 'data-target': '#boxFolders'}
        Box
    %li.nav-item.opp
      %a.nav-link{href: '#salesforceAttachments', role:'tab', 'data-toggle': 'tab', 'data-target':  '#salesforceAttachments'}
        Salesforce Native
  .tab-content.col-sm-12.col-md-12.col-xlg-12.offset-md-12.offset-lg-12.offset-xl-12{style: 'background: white; padding-bottom: 1em; min-height: 10em'}
    .nav-pane.opportunity.fade.in.active#fileDetails{role: 'tabpanel'}
      - @opportunity.box_folders.each do |box_folder|
        %button.btn.action{data: {id: box_folder.id}, style: 'margin-bottom: 1em', sha1: box_folder.sha1}
          move to: #{box_folder.meta[:name]}
        .clearfix
      %button.btn.action
        Add scrubbed chatter message
    .nav-pane.opportunity.fade#boxFolders{role: 'tabpanel', style: 'display: none'}
      %form
        %ul{style: 'padding-left: 0px;list-style-type: none', class: 'droppable'}
          - opportunity.box_folders.each do |folder|
            %h3
              - binding.pry if folder.meta.nil?
              = folder.meta[:name]
            %li.list-group-item{id: folder.id}
              %fieldset
                %ul.list-group{style: 'list-style-type: none', class: 'droppable'}
                  - folder.files.each do |file|
                    %li.list-group-item.screenable{data: {id: BPImage.new(file).id, location: opportunity.cloud_path , sha1: file.sha1 }}
                      .text-xs-left
                        %i.btn.btn-default.fa.fa-lg{class: iconify(file), style: 'box-shadow: 0 0 1px 1px black;float:left'}
                      .clearfix
                      = file.path.basename.to_s
    .nav-pane.opportunity.fade#salesforceAttachments{role: 'tabpanel', style: 'display: none'}
      %ul
        - opportunity.files.each do |file|
          %li.list-group-item.screenable{data: {id: BPImage.new(file).id, location: opportunity.cloud_path, sha1: file.sha1 }}
            .text-xs-left
              %i.btn.btn-default.fa.fa-lg{class: iconify(file), style: 'box-shadow: 0 0 1px 1px black;float:left'}
            .clearfix
            = file.path.basename.to_s
    :javascript
      $(document).ready(function(){
        $('.nav-item.opp a').click(function(e) {
          e.preventDefault()
          $('.nav-pane.opportunity').hide()
          $('.nav-pane'+ $(this).attr('href')).show()
        })
      })
