%ul
  %li
    Exit Calculation:
    %ul
      %li
        Maintenance Fees Per Year
      %li
        Maintenance Gees Past Due Amount
      %li
        Special Assessment Fees
      %li
        Payment method - PIF or Financed
      %li
        Exit fee total

  %li
    Settlement Information:
    %ul
      %li
        Enter all applicable information if you can locate
  %li
    Credit Repair: (Only if needed)
    %ul
      %li
        Credit Repair Vendor Account - LSI We only have the one vendor for now!
      %li
        LSI Date - Date sent to LSI
      %li
        LSI complete - Only check if you can confirm that LSI has been completed
  %li
    Exit completed Cases:
    %ul
      %li
        Closed Exit Complete
      %li
        Reference -NO
      %li
        Type of Exit
        %ul
          %li
            Settlement Agreements are Take Backs - The aggreement signed by Wyndham/Worldmark/Shell rep IS Resort Confirmation.
          %li
            Deedback to resort is a deed to resort prepared by Sussmans office
          %li
            Deedback with Resort confirmation is prepared by the resort
          %li
            For anything close this year you should ALWAYS have confirmation from the resort
      %li
        Timeshare Exit Docs Received (Confirmation received from Resort) YES or NO
  %li
    Final:
    %ul
      %li
        Put a note in Chatter stating 'Final Scrub Complete' along with any other important notes about the file
